<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/style.css" type="text/css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="static/notably.js"></script>
</head>
<body>
	<div id="container">
		<div class="left column"></div>
		<div class="middle column">
			<textarea id="tbox" rows="15"></textarea>
		</div>
		<div id="entries">
		{% block entry %}{% endblock %}
		</div>
	</div>
</body>
</html>
